.desktop {
    position: relative;
    width: 1200px;
    height: 2236px;
    background: #ffffff;
    top: 100px;
}
body {
    display: flex;
    justify-content: center;
    background: #cfcfcf;
}
.nav {
    position: relative;
    display: flex;
    justify-content: center;

}
.navtext {
    width: 100px;
    height: 19px;
    left: 674px;
    margin: 0 50px;
    margin-top: 71px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D7D7D;
    display: flex;
    justify-content:center;
}
.navtext:hover {
    cursor: pointer;
}
.navtext1 {
    color:#03A9F4;
}




.card1 {
    width: 420px;
    height: 546px;
}
.card2 {
    width: 420px;
    height: 546px;
}
.card3 {
    width: 420px;
    height: 546px;
}
.card4 {
    width: 420px;
    height: 546px;
}
.card5 {
    width: 420px;
    height: 546px;
}
.card6 {
    width: 420px;
    height: 546px;
}

main {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
main>div {
    margin: 65px 32.5px;
}
.card1,
.card2 {
    margin-top: 91px;
}

/*  START CARD             asdasdjklasdjjN*/

.h1 {
    width: 64px;
    height: 16px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;

}
.card1title {
    width: 408px;
    height: 40px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;


    color: #626262;
}
.card1text {
    width: 420px;
    height: 76px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #626262;
}
.card1>div {
    margin-top: 50px;
}
.card2>div {
    margin-top: 50px;
}
.card3>div {
    margin-top: 50px;
}
.card4>div {
    margin-top: 50px;
}
.card5>div {
    margin-top: 50px;
}
.card6>div {
    margin-top: 50px;
}
.button {
    position: absolute;
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 {
    display: flex;
    justify-content: center;
}
.button>h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;


    color: #626262;
}
.button1:hover {
    cursor: pointer;

}